*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" ,san-serif;
}

body
{
    background: url(otherimage/login.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
